$u-blue1: #191970;
$u-blue2: #13227a;
$u-blue3: #003eb3;
$u-blue4: #1677ff;
$u-blue5: #4096ff;
$u-blue6: #69B1FF;
$u-blue7: #91CAFF;
$u-blue8: #BAE0FF;
$u-blue9: #e6f4ff;

$u-orange1: #873800;
$u-orange2: #ad4e00;
$u-orange3: #ED7600;
$u-orange4: #FA8C16;
$u-orange5: #FFA940;
$u-orange6: #FFC069;
$u-orange7: #FFD591;
$u-orange8: #FFE7BA;
$u-orange9: #FFF7E6;

$u-gray1: #333333;
$u-gray2: #444444;
$u-gray3: #666666;
$u-gray4: #808080;
$u-gray5: #999999;
$u-gray6: #c0c0c0;
$u-gray7: #f0f0f0;
$u-gray8: #f5f5f5;
$u-gray9: #ffffff;

$u-red1: #820014;
$u-red2: #a8071a;
$u-red3: #cd3333;
$u-red4: #FA3534;
$u-red5: #ff4d4f;
$u-red6: #FF7875;
$u-red7: #FAB6B6;
$u-red8: #FFCCC7;
$u-red9: #FFF1F0;

$u-green1: #475c4e;
$u-green2: #6e6944;
$u-green3: #7c884d;
$u-green4: #19be6b;
$u-green5: #6e8b74;
$u-green6: #838f7e;
$u-green7: #9aae8f;
$u-green9: #dbf1e1;

$u-primary-dark: $u-blue1;
$u-primary: $u-blue3;
$u-primary-light: $u-blue9;
$u-primary-disabled: $u-blue7;

$u-error-dark: $u-red3;
$u-error: $u-red4;
$u-error-light: $u-red9;
$u-error-disabled: $u-red7;

$u-warning-dark: $u-orange3;
$u-warning: $u-orange4;
$u-warning-light: $u-orange9;
$u-warning-disabled: $u-orange6;

$u-success-dark: #18b566;
$u-success: #19be6b;
$u-success-light: $u-green9;
$u-success-disabled: #71d5a1;

$u-info-dark: $u-gray4;
$u-info: $u-gray5;
$u-info-light: $u-gray8;
$u-info-disabled: $u-gray6;

$u-disabled-color:  $u-gray1;

$u-main-color: $u-gray1;
$u-content-color: $u-gray3;
$u-tips-color: $u-gray5;
$u-light-color: $u-gray6;
$u-border-color: $u-gray7;
$u-bg-color: $u-gray9;
$u-form-item-border-color: $u-gray7;
$u-form-item-height: 70rpx;
